.row{
    padding: 20px;
}
div{
    background-color:rgb(0, 0, 0);
}
h1,h3{
    display: inline;
}
#educacion,#parrafoeducacion,#tituloeducacion{
    color:gainsboro;
}

#años{
    color:gainsboro;
}

h1{
    color: gainsboro;
}

h2{
    color: gold;
}

