.row{
    padding:20px;
}
div {
    background: repeating-linear-gradient(rgba(1, 25, 145, 0.655),rgb(10, 187, 196),rgb(0, 90, 120));
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width:576px){
    #fotodeperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px  rgb(2, 49, 87);
        left:3%;
        top:650px;    
    }
        
    }
    @media (max-width:575px){
        #fotodeperfil{
            position:absolute;
            width: 30%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px  rgb(8, 80, 92);
            left:33%;
            top:870px;    
        }
            
        }
/*etiqueta nombre*/
#nombre{
    font-weight:bold;
    color:gainsboro ;
    margin-top:30%;

}
#acerca{
    color:gainsboro;
}

#titulodvp{
    color:gainsboro;
}

#parrafodeacerca{
    color:gainsboro;
}