<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/social/facebook1.png" id="facebook"></a>
                <a href=""><img src="../../../assets/social/linkedin1.png" id="linkedin"></a> 
                <a href=""><img src="../../../assets/social/git1.png" id="github" alt=""></a>
                <a href=""><img src="../../../assets/social/insta1.png" id="instagram"></a>
                <a href=""><img src="../../../assets/social/twitter1.png" id="twitter"></a>
                <a href=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>

    </div>
</div>


